.page {
  font-family: var(--font-geist-sans);
}

.circle {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #FFBEDD;
  color: #000;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.abaLateral {
  position: fixed;
  top: 0;
  left: 0;
  width: 40vh;
  height: 100vh;
  background-color: #FFBEDD;
  z-index: 1;
}

.conteudo {
  margin-left: 40vh; /* empurra o conteúdo pro lado da barra */
  padding: 20px;
  z-index: 2;
  position: relative;
}

.tituloPrincipal {
  font-size: 30px;
  color: #000;
}

.caixa {
  background-color: #FFBEDD;
  border-radius: 5%;
  padding: 10%;
  width: 50vh;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
}

.novacaixa {
  background-color: #FFBEDD;
  border-radius: 5%;
  padding: 10%;
  width: 50vh;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
}